<h1> Player one: <%= @player_one %>  HP: <%= @player_one_hp %> </h1>
<br>
<h1> Player two: <%= @player_two %> HP: <%= @player_two_hp %> </h1>

<button type="button" name="Player two attack" method='post' >player two attack!</button>